<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="page-header">
        <h1 v-show="message">Банкомат</h1>
    </header>
    <main id="app">
        <div class="grid" v-if="showMenu === true">
            <div class="base" @click="showMenu = !showMenu; showWithdraw = true;">
                <h2>Снять</h2>
                <p>Рубли, Доллары, Евро</p>
            </div>
            <div class="base" @click="showMenu = !showMenu; showDeposit = true;">
                <h2>Пополнить</h2>
                <p>Рубли, Доллары, Евро</p>
            </div>
            <div class="base" @click="showMenu = !showMenu; showSWIFT = true;">
                <h2>Перевести</h2>
                <p>SWIFT-перевод</p>
            </div>
            <div class="base">
                <h2>Оплатить (техническое обслуживание)</h2>
                <p>Телефон, интернет, ЖКХ</p>
            </div>
        </div>
        <div class="showBase" v-else-if="showDeposit === true">
            <div class="flexMoney">
                <div class="depositUnit">
                    <h2>₽</h2>
                    <input placeholder="Положить рубли на счёт"
                           type="number" min="0" max="10000000" v-model="ruble">
                </div>
                <div class="depositUnit">
                    <h2>€</h2>
                    <input placeholder="Положить евро на счёт"
                           type="number" min="0" max="10000000" v-model="euro" disabled>
                </div>
                <div class="depositUnit">
                    <h2>$</h2>
                    <input placeholder="Положить доллары на счёт"
                           type="number" min="0" max="10000000" v-model="dollar" disabled>
                </div>
            </div>
            <button type="submit" class="submitButton" @click="ruble; euro; dollar;">Пополнить</button>
            <button type="button" class="back" @click="showMenu = !showMenu;
            showDeposit = false;">Назад</button>
        </div>
        <div class="showBase" v-else-if="showWithdraw === true">
            <label>
                Укажите счёт
                <select>
                    <option>Рублёвый счёт: {{ruble}}</option>
                    <option disabled>Евро счёт: {{euro}}</option>
                    <option disabled>Долларовый счёт: {{dollar}}</option>
                </select>
            </label>
            <label>
                Как размениваем?
                <select v-model="select">
                    <option>Мелкими</option>
                    <option>Крупными 😎</option>
                </select>
            </label>
            <div>
                {{result}}
            </div>
            <div>
                <button type="submit" class="submitButton" @click="calcChange(ruble, select)">Размнять</button>
                <button type="button" class="back" @click="showMenu = !showMenu;
            showWithdraw = false; result = ''">Назад</button>
            </div>
        </div>
        <div class="showBase" v-else-if="showSWIFT === true">
            <h6>SWIFT-перевод</h6>
            <div>
                <label>
                    Укажите счёт
                    <select>
                        <option>Рублёвый счёт: {{ruble}}</option>
                        <option disabled>Евро счёт: {{euro}}</option>
                        <option disabled>Долларовый счёт: {{dollar}}</option>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    Куда переводим?
                    <select>
                        <option>Другу в Сербию</option>
                        <option>23 y.o designer from San Francisco</option>
                        <option>Israel</option>
                    </select>
                </label>
            </div>
            <div>
                <img :src="yes">
                <p v-text="commision">Здесь мы выведем комиссию</p>
            </div>
            <div>
                <button type="submit" class="submitButton" v-on:click="showMeme">Отправить</button>
                <button type="button" class="back" @click="showMenu = !showMenu;
            showSWIFT = false; yes = ''; commision = '';">Назад</button>
            </div>

        </div>
        <div>

        </div>
    </main>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="application.js"></script>
</body>
</html>