@font-face {
    font-family: 'Quicksand-Bold-Regular';
    src:url('Quicksand-Bold-Regular.ttf.woff') format('woff'),
    url('Quicksand-Bold-Regular.ttf.svg#Quicksand-Bold-Regular') format('svg'),
    url('Quicksand-Bold-Regular.ttf.eot'),
    url('Quicksand-Bold-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.start {
    animation-name: rotate;
    animation-duration: 2s;
}


body {
    background-color: #eff3f6;
    background-image: url("/img/column.png");
    /* background-image: url("/img/row.png"); */
    margin: 0;
    padding: 0;
    font-family: 'Quicksand-Bold-Regular';
}

.title {
    position: absolute;
    top: 20px;
    left: 20px;
}

.progress {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    text-align: center;

    /* opacity: 1; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 568px;
    padding: 20px;
    justify-content: space-evenly;
    box-sizing: border-box;
}


.circle {
    align-self: center;
}

.inputs  {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 35px;
    gap: 5px;
}

.inputs input {
    width: 45px;
    height: 28px;
    box-sizing: border-box;
}

.inputs div {
    display: flex;
    align-items: center;

}

label {
    margin-left: 15px;
}

input.apple-switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    outline: none;
    width: 45px;
    height: 28px;
    background-color: #ffffff;
    border: 2px solid #eff3f6;
    border-radius: 30px;
    box-shadow: inset -17px 0 0 0 #eff3f6;
    transition-duration: 200ms;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
}

input.apple-switch:checked {
    border-color: #005bff;
    box-shadow: inset 18px 0 0 0 #005bff;
}

input.apple-switch:checked:after {
    left: 20px;
}

.banana {
    position: relative;
    appearance: none;
    outline: none;
    width: 46px;
    height: 28px;
    margin: 3px 3px 3px 4px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
}

circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 47%;
}

.bar {
    stroke-dasharray: 345.575191895 345.575191895;
    stroke-dashoffset: 312;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media only screen and (min-width: 568px){
    .progress {
        flex-direction: row;
        width: 568px;
        height: 320px;

    }
    .inputs  {
        margin: 0 30px 0 0;
    }
}